.main-container{
    background-image: url('./Login_img.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // border: 1px solid red;
    // height: 80vh;
    // width: 18.3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: calc(100vh - 15vh);
    width: 100%;
    .sub-container{
        // margin: auto;
        // width: 50vw;
        // height: 50vh;
        display: flex;
        margin-right: 12rem;
        // border: 2px solid pink;
        justify-content: flex-start;
        // background-color: $color1;
        // align-items: center;
        

    .content{
            // border: 2px solid green;
            padding: 1rem 1rem;
            background-color: $color1;
            text-align: center;
            border-radius: 1.22rem;
            // width: inherit;
            width: 33vw;
            height: 65vh;
            // height: inherit;


            h1{
                text-align: center;
                font-family:$text1;
                font-size: 2rem;
                margin: 2rem 0;
            }
            form{
                font-size: 0.8rem;
            }
            .email-input{
                background-color: white;
                // border: 2px solid blue;
                display: flex;
                gap: 1rem;
                // justify-content: center;
                align-items: center;
                padding: 1.2rem;
                margin: 1rem 0;

                div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // border: 2px solid ;
                    width: 2rem;
                    padding: 0 0.1rem;
                    border-right: 2px solid $color1;
                }


                svg{
                    // border-right: 1px solid;
                    // padding-right: 0.2rem;
                    // // border: 2px solid;
                    color: $color1;
                    font-size: 2rem;
                    margin-right: 0.5rem;
                }

                input{
                    // padding: 0 0.6rem;
                    border: none;
                    outline: none;
                    font-family:$text2;
                    font-size: 1rem;

                    // font-size: 0.8rem;
                    // border: 2px solid red

                }
            }
            .pass-input{
                @extend .email-input;
                margin: 1rem 0;
            }
        }
        button{
            // color: pink;
            width: 100%;
            height: 3.5rem;
            margin: 1rem 0;
            // padding: 1rem;
            background-color: $color1;
            border-radius: 5rem;
            border: none;
            color: white;
            font-size: 1.3rem;

            &:hover{
                background-color: #2cc3ff;
                cursor: pointer;
            }
        }
        .forgot-pass{
            text-decoration: underline;
            color: $color1;
            cursor: pointer;
        }
    
        .google-register{
            // border: 2px solid red;
            margin: 1.5rem 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            width: 100%;
            padding: 1rem;
            border-radius: 5rem;
            background-color: $color1 ;
            color: black;
            height: 3.5rem;
        

            svg{
                background-color: white;
                // border: 1px solid red;
                font-size: 2rem;
                border-radius: 5rem;
                padding: 0.3rem;
            }

            div{
                font-family: $text2;
            }
    
        }
    }


}
@media  screen and (max-width : 916px) {
    .main-container{
        background-image: none;
    }
    .main-container .sub-container{
        margin: auto;
    }
    .main-container .sub-container .content{
     width: 75vw;
    }
    .main-container .sub-container .content .email-input input{
        width: 100%;
    }
.main-container .sub-container button{
    position: relative;
}
}