@import 'Static';
@import '../src/Components/Header/Header.scss';
@import '../src//Components/Home/Home.scss';
@import '../src/Components/Nav/Nav.scss';
@import '../src/Components/NewArrivals/NewArrivals.scss';
@import '../src/Components/Testimonial/Testimonial.scss';
@import '../src/Components/Contact/Contact.scss';
@import '../src/Components/Footer/Footer.scss';
@import '../src/Components/Wishlist/Whishlist.scss';
@import '../src/Components/ProductDetail/ProductDetails.scss';
@import '../src/Components/DetailProduct/DProduct.scss';
@import '../src/Components/Authentication/Login.scss';
@import '../src/Components/Cart/Cart.scss';
@import '../src/Components/Payments/Shipment.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    width: 100%;
    // margin: 0;
    // padding: 0;
    // box-sizing: border-box;
}


