@import 'Static';
@import '../src/Components/Header/Header.scss';
@import '../src//Components/Home/Home.scss';
@import '../src/Components/Nav/Nav.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}